![](../Assets/itd.png)
<div style= "Text-align: center">
    
# Analisis de Datos 
## SQLite
### José Gabriel Rodriguez Rivas    
### Angel Omar Ceniceros Berumen
    
    

</div>

In [1]:
# this is the library to talk to the database
import sqlite3
import pandas as pd
# this is a library for data visualization
from matplotlib import pyplot as plt
# this is to say that we want our plots to be part of this page, and not opened in a new window
%matplotlib inline

In [2]:
conn = sqlite3.connect('C:/dev/CienciaDatos/phonebook.db')

In [3]:
cur = conn.cursor()

In [4]:
query = "SELECT name FROM coworkers;"
cur.execute(query)

In [5]:
for row in cur:
    print (row)

('Han Solo',)
('Leia Skywalker',)
('Luke Skywalker',)
('Obi-Wan Kenobi',)
('Anakin Skywalker',)
('Jabba The Hutt',)
('Greedo',)
('R2D2',)
('C3PO',)

### Desafío
###### 1) Proporcione el código para consultar los nombres de todas las princesas.

In [6]:
consulta = "SELECT name FROM coworkers WHERE title = 'Princess';"
cur.execute(consulta)
for row in cur:
    print (row)

('Leia Skywalker',)

######  2) Proporcione el código para consultar los nombres de todas las princesas y los recaudadores.

In [7]:
consulta = "SELECT name FROM coworkers WHERE title = 'Princess' OR title = 'Debt Collector';"
cur.execute(consulta)
for row in cur:
    print (row)

('Leia Skywalker',)
('Greedo',)

###### 3) Proporcione el código para consultar los nombres y los números de todos los Jedi.

In [8]:
consulta = "SELECT name, number FROM coworkers WHERE title = 'Jedi';"
cur.execute(consulta)
for row in cur:
    print (row)

('Luke Skywalker', 5558963267)
('Obi-Wan Kenobi', 5558963276)

###### 4) Proporcione el código para consultar los nombres de los droids

In [9]:
consulta = "SELECT name FROM coworkers WHERE title = 'Astro Droid' OR title = 'Protocol Droid';"
cur.execute(consulta)
for row in cur:
    print (row)

('R2D2',)
('C3PO',)