![](../Assets/itd.png)
<div style= "Text-align: center">
    
# Analisis de Datos 
## Estadisticas Descriptivas en Python
### José Gabriel Rodriguez Rivas    
### Angel Omar Ceniceros Berumen
    
    

</div>

### Parte 1: Análisis de los datos
<p> El objetivo de la primera parte de esta práctica de laboratorio es utilizar métodos de pandas para importar un conjunto de datos y generar las estadísticas descriptivas siguientes:
</p>
<ul>
<li>tamaño de la muestra</li>
<li>media</li>
<li>mediana</li>
<li>Desviación estándar</li>
<li>mínima, máxima y rango de valores</li>
</ul>

#### Paso 1: Configure el entorno e importe los datos.
Primero, importará los módulos y configurará el entorno para mostrar la salida de matplotlib en la página de la computadora portátil. Usará pandas para importar los datos de un archivo csv a un marco de datos.
**Trabajará con un archivo que contiene ejemplos de control de calidad para cajas de 20 oz de un producto alimenticio. Los datos se utilizan para verificar la precisión de las máquinas que cargan las cajas.

In [4]:
# Code cell 1
# Import the modules: pandas and matplotlib

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
datos = pd.read_csv('./Data/rpi_describe.csv')
datos

      weight
0     20.440
1     20.244
2     20.549
3     20.755
4     20.740
...      ...
9995  20.419
9996  20.554
9997  20.768
9998  20.829
9999  20.667

[10000 rows x 1 columns]

In [11]:
# Code cell 3
# view the contents of the first five rows in the dataframe
datos.head(5)

   weight
0  20.440
1  20.244
2  20.549
3  20.755
4  20.740

In [17]:
# Code cell 4
# view the contents of the last five rows in the dataframe
datos.tail(5)

      weight
9995  20.419
9996  20.554
9997  20.768
9998  20.829
9999  20.667

In [14]:
# Code cell 5
# use the describe method of the new dataframe to view the table of statistics
datos.describe()

             weight
count  10000.000000
mean      20.499212
std        0.199874
min       19.752000
25%       20.365000
50%       20.500000
75%       20.635000
max       21.171000

In [22]:
# Code cell 6

# Add a new column to the dataframe and populate it with rounded weights.
datos['rounded'] = datos.weight.round(2)

# Verify that values were added.
datos.head()

   weight  rounded
0  20.440    20.44
1  20.244    20.24
2  20.549    20.55
3  20.755    20.76
4  20.740    20.74

In [24]:
# Code cell 7
# Create the new column named "diff" and fill it with values.
datos['diff'] = datos['rounded'] - 20

In [25]:
datos.head()

   weight  rounded  diff
0  20.440    20.44  0.44
1  20.244    20.24  0.24
2  20.549    20.55  0.55
3  20.755    20.76  0.76
4  20.740    20.74  0.74

In [26]:
# Code cell 8
# Create a variables to hold values for the dataset rounded column 
count = datos['rounded'].count()
mean = datos['rounded'].mean()
median = datos['rounded'].median()
std = datos['rounded'].std()
rng = datos['rounded'].max()-datos['rounded'].min()

In [34]:
# Code cell 9
# Create variables to hold your statements.
countstring = "El numero de observaciones es: {}, en el conjunto de datos".format(count)
meanstring = "La media de las distribucion es: {}, y la mediana es{} en el conjunto de datos".format(mean,median)
stdstring = "La desviacion estandar es: {}, para el conjunto de datos".format(std)
minmaxstring = "El valor minimo es: {}, el valor maximo es {}, ".format(datos.rounded.min(),datos.rounded.max())
rangestring = "El rango es: {}".format(rng)

In [33]:
# Code cell 10
# Print all of your statements
print(countstring)
print(meanstring)
print(stdstring)
print(rangestring)
print(minmaxstring)

El numero de observaciones es: 10000, en el conjunto de datos
La media de las distribucion es: 20.49915999999995, y la mediana es20.5 en el conjunto de datos
La desviacion estandar es: 0.19990740530822973, para el conjunto de datos
El rango es: 1.4200000000000017
El valor minimo es: 19.75, el valor maximo es 21.17,

In [36]:
# Code cell 11

# Format the standard deviation result to 2 decimal points
count = datos.rounded.count()
stdstring = 'The standard deviation of the distribution is {:.2f}.'.format(std)
print(stdstring)

The standard deviation of the distribution is 0.20.

Parte 2: Visualización de los datos
En esta parte de la práctica de laboratorio, creará una distribución de frecuencia por cada valor único en el conjunto de datos.